html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;
}

canvas {
  display: block;
  background-color: #black;
  height: 100%;
  width: 100%;
  border-color: black;
  margin: auto;
}
